* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Poppins', sans-serif;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

body {
	overflow-x: hidden;
}
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
		background-image: linear-gradient(
		to bottom,
		#00f4ff,
		#00e5ff,
		#00d6ff,
		#00c6ff,
		#00b5ff,
		#00b8ff,
		#00baff,
		#00bdff,
		#00d3ff,
		#00e6ef,
		#00f5c2,
		#00ff85
	);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
		background-image: linear-gradient(
		to bottom,
		#ffd200,
		#ffb249,
		#ff997e,
		#ff8fad,
		#ff94d1,
		#e0a7f0,
		#bdb9ff,
		#a1c7ff,
		#62d9ff,
		#00e9ff,
		#00f7eb,
		#36ffb9
	);
}

.navbar {
	z-index: 2;
	display: flex;
	align-items: center;
	padding: 20px 50px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: 0.3s;
}

.navbar .logo {
	transition: 0.5s;
}

.navbar .logo:hover {
	transform: translateY(-3px);
}

header .navbar {
	transition: 0.3s ease-in-out;
}

.nav-active {
	background-color: #3bb3ff;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

nav {
	flex: 1;
	text-align: right;
}

nav ul {
	display: inline-block;
	list-style-type: none;
}

nav ul li {
	display: inline-block;
	margin-right: 20px;
}

a {
	text-decoration: none;
	color: #fff;
}

p {
	color: #fff;
}

.search-field {
	display: flex;
	align-items: center;
}

.sticky {
	background-color: #000;
}

.container {
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

.col-2 {
	position: relative;
	top: 50px;
	flex-basis: 50%;
	min-width: 300px;
}
.title-top {
	font-size: 40px;
}
#A {
	font-family: 'Londrina Sketch', cursive;
	font-size: 52px;
	font-weight: 700;
	color: rgb(131, 255, 162);
}
#Z {
	font-family: 'Londrina Sketch', cursive;
	font-size: 52px;
	font-weight: 700;
	color: rgb(255, 139, 178);
}

.col-2 img {
	max-width: 100%;
	margin-bottom: -0px;
	margin-top: -50px;
	padding: 100px 0 50px 0;
}

.header:after {
	content: ' ';
	display: block;
	height: 50px;
	background-image: url('img/tornpaper2.png');
	position: relative;
	bottom: -10px;
	width: 100%;
}

.title-1 {
	color: #ffd446;
	font-family: 'Cabin Sketch', cursive;
	font-size: 50px;
	line-height: 50px;
}

.title-2 {
	color: rgb(75, 255, 246);
	font-family: 'Cabin Sketch', cursive;
	font-size: 80px;
	line-height: 80px;
	margin-top: -10px;
}

.col-2 p {
	margin: 25px 0px 0px 0px;
	font-weight: 700;
	font-size: 26px;
	
}

.col-2-2 {
	flex-basis: 45%;
	min-width: 300px;
	margin-top: 50px;
}

.col-2-2 p {
	color: #555;
}

.col-2-2 img {
	max-width: 100%;
	padding: 0px 0;
	margin-left: 15px;
}
.single-product .col-2-2 img {
	max-width: 100%;
	padding: 0px 0;
	margin-left: 0px;
}

.col-2-2 h2 {
	color: rgb(0, 255, 149);
}

.col-2-2 h1 {
	font-size: 50px;
	line-height: 50px;
	margin: 25px 0;
}

.btn {
	display: inline-block;
	background: linear-gradient(45deg, #ffd446 0%, #fcff46 90%);
	color: #555;
	padding: 14px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition: 0.5s;
}

.blue {
	background: linear-gradient(45deg, #4787ff 0%, #26e9ff 90%);
	color: #fff;
}

.btn:hover {
	filter: brightness(90%);
	transform: translateX(5px);
}

.nav-icon {
	transition: transform 0.5s;
}
.nav-icon:hover {
	transform: translateY(-3px);
}

.nav-icon a:hover {
	color: #ffd446;
}
.nav-icon img {
	filter: invert(100%) sepia(83%) saturate(0%) hue-rotate(380deg)
		brightness(95%) contrast(300%);
}

.nav-icon img:hover {
	filter: invert(70%) sepia(83%) saturate(3207%) hue-rotate(380deg)
		brightness(95%) contrast(300%);
}

.header {
	background-image: linear-gradient(
		to left bottom,
		#00f4ff,
		#00e5ff,
		#00d6ff,
		#00c6ff,
		#00b5ff,
		#00b8ff,
		#00baff,
		#00bdff,
		#00d3ff,
		#00e6ef,
		#00f5c2,
		#00ff85
	);
}

.categories {
	margin: 70px 0 20px 0;
}
.categories-small {
	margin: 0 0 70px 0;
}

.col-3 {
	flex-basis: 30%;
	min-width: 250px;
	margin-bottom: 30px;
	transition: 0.5s;
}

.col-3:hover {
	transform: translateY(-5px);
	filter: brightness(110%);
}

.categories-small-item {
	flex-basis: 13%;
	width: 100px;
	margin-bottom: 30px;
	transition: 0.5s;
	text-align: center;
}

.categories-small-item img {
	width: 100px;
}

#arrow-left {
	height: 80px;
	width: 20px;
	text-align: center;
	transition: 0.5s;
}

#arrow-left:hover {
	transform: translateX(-5px);
}

#arrow-right {
	height: 80px;
	width: 20px;
	text-align: center;
	transform: rotateY(180deg);
	transition: 0.5s;
}

#arrow-right:hover {
	transform: rotateY(180deg) translateX(-5px);
}

.categories-small-item:hover {
	transform: translateY(-5px);
	filter: brightness(110%);
	background: linear-gradient(120deg, #4787ff 20%, #26e9ff 70%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.categories-small h3 {
	font-size: 18px;
	color: rgb(85, 85, 85);
	font-weight: 600;
}

#category-1 {
	background-image: linear-gradient(to right, #ffe44b, transparent 80%),
		url('img/livrosFlip.png');
	width: 100%;
	height: 400px;
	background-size: cover;
	background-color: #ff9650;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#category-1 h3 {
	text-align: left;
	padding: 20px 10px 30px 10px;
	font-size: 130px;
	line-height: 90px;
	font-weight: 700;
}

#category-1 h3 .category-top {
	font-family: 'Cabin Sketch', cursive;
	color: rgb(220, 183, 255);
	text-shadow: 2px 2px #00000025;
}
#category-1 h3 .category-bottom {
	font-family: 'Cabin Sketch', cursive;
	color: rgb(134, 255, 130);
	text-shadow: 2px 2px #00000025;
}

#category-1 p {
	text-align: left;
	font-size: 20px;
	margin: 20px 20px;
	font-weight: 500;
	color: rgb(255, 255, 255);
}

#category-1 p .p-bottom {
	font-size: 30px;
	line-height: 30px;
	font-weight: 600;
	text-shadow: 2px 2px #00000025;
}

#category-1 p .p-top {
	line-height: 40px;
	color: rgb(255, 255, 255);
	text-shadow: 2px 2px #00000025;
}

#category-1 h3 .category-top {
	letter-spacing: 20px;
	font-size: 140px;
}

#category-2 {
	background-image: linear-gradient(to right, #44e9ff, transparent 60%),
		url('img/material.png');
	width: 100%;
	height: 400px;
	background-size: cover;
	background-color: #5ae9d6;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#category-2 h3 {
	text-align: left;
	padding: 20px 10px 30px 20px;
	font-size: 120px;
	line-height: 100px;
	font-weight: 700;
}

#category-2 h3 .category-top {
	font-family: 'Londrina Sketch', cursive;
	text-shadow: 2px 2px #00000025;
	color: rgb(255, 163, 163);
}
#category-2 h3 .category-bottom {
	font-family: 'Londrina Sketch', cursive;
	text-shadow: 2px 2px #00000025;
	color: rgb(255, 237, 203);
}

#category-2 p {
	text-align: left;
	font-size: 20px;
	margin: 0px 20px 0;
	font-weight: 500;
	color: #fff;
}

#category-2 h3 .category-bottom {
	letter-spacing: 15px;
}

#category-2 h3 .category-top {
	font-size: 130px;
}

#category-2 p .p-bottom {
	font-size: 30px;
	line-height: 30px;
	font-weight: 600;
	text-shadow: 2px 2px #00000025;
}

#category-2 p .p-top {
	line-height: 50px;
	color: rgb(255, 255, 255);
	text-shadow: 2px 2px #00000025;
}

#category-3 {
	background-image: linear-gradient(to right, #bd99ff, transparent 70%),
		url('img/cursos.png');
	width: 100%;
	height: 400px;
	background-size: cover;
	background-color: #ff94ca;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#category-3 h3 {
	text-align: left;
	padding: 15px 10px 30px 15px;
	font-size: 130px;
	line-height: 90px;
	font-weight: 700;
}

#category-3 h3 .category-top {
	font-family: 'Cabin Sketch', cursive;
	text-shadow: 2px 2px #00000025;
	color: rgb(183, 238, 255);
}
#category-3 h3 .category-bottom {
	font-family: 'Cabin Sketch', cursive;
	text-shadow: 2px 2px #00000025;
	color: rgb(210, 255, 214);
}

#category-3 p {
	text-align: left;
	font-size: 20px;
	margin: 20px 20px 0;
	font-weight: 500;
	color: #fff;
}

#category-3 h3 .category-top,
.category-bottom {
	letter-spacing: 5px;
}

#category-3 h3 .category-top {
	font-size: 130px;
}

#category-3 p .p-bottom {
	font-size: 30px;
	line-height: 30px;
	font-weight: 600;
	text-shadow: 2px 2px #00000025;
}

#category-3 p .p-top {
	line-height: 50px;
	color: rgb(255, 255, 255);
	text-shadow: 2px 2px #00000025;
}

.col-3-a span {
	text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.24);
}

.small-container {
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.col-4 {
	flex-basis: 25%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
	transition: transform 0.5s;
}

.col-4 h4 {
	font-weight: 500;
}

.col-4 img {
	width: 100%;
	border-radius: 5px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.title {
	text-align: center;
	margin: 0 auto 80px;
	position: relative;
	line-height: 60px;
	font-size: 50px;
	color: rgb(85, 85, 85);
	font-family: 'Cabin Sketch', cursive;
}

.title::after {
	content: '';
	background: linear-gradient(120deg, #4787ff 20%, #26e9ff 70%);
	width: 80px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

h4 {
	color: #555;
	font-weight: normal;
}

.col-4 p {
	font-size: 14px;
}

.rating .fa-solid {
	background: linear-gradient(120deg, #4787ff 20%, #26e9ff 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.rating .fa-regular {
	background: linear-gradient(120deg, #4787ff 20%, #26e9ff 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.col-4:hover {
	transform: translateY(-5px);
}

/* OFFER */
.offer {
	background-image: linear-gradient(to right top, #ffd200, #ffb249, #ff997e, #ff8fad, #ff94d1, #e0a7f0, #bdb9ff, #a1c7ff, #62d9ff, #00e9ff, #00f7eb, #36ffb9);
	margin-top: 80px;
	padding: 0px 0;
}
.offer:before {
	content: ' ';
	display: block;
	width: 100%;
	height: 65px;
	background-image: url('img/tornpaper.png');
	position: absolute;
	margin-top: -30px;
	z-index: 1;
}

.offer:after {
	content: ' ';
	display: block;
	height: 50px;
	background-image: url('img/tornpaper2.png');
	position: relative;
	bottom: -10px;
	width: 100%;
}
#keepedu {
	margin: 5px 0px;
	width: 350px;
	margin-left: -10px;
}

.offer p {
	color: #fff;
	font-size: 32px;
	margin-top: 0;
	/* line-height: 50px; */
	font-weight: 700;
		/* font-family: 'Cabin Sketch', cursive; */
	/* font-family: 'Londrina Sketch', cursive; */
}

.offer small {
	color: #fff;
	font-family: 'Work Sans';
	font-size: 18px;
	margin-top: 0;
	/* line-height: 40px; */
	font-weight: 600;
}


.offer .small-first {
	color: rgb(0, 255, 234);
	font-family: 'Cabin Sketch', cursive;
	font-size: 38px;
	line-height: 20px;
}
.offer .small-second {
	color: rgb(255, 251, 0);
	font-family: 'Cabin Sketch', cursive;
	font-size: 38px;
	line-height: 30px;
}

#small-top {
	line-height: 50px;
}

.col-2 .offer-img {
	padding: 50px;
	transform: rotateY(360deg);
}

small {
	color: #555;
}

/* REVIEWS */
.review {
	padding-top: 100px;
}

.review .col-3 {
	width: 100%;
	height: 400px;
	text-align: center;
	padding: 40px 20px;
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	cursor: pointer;
	transition: 0.5s;
}

.review .course1 {
	background-image: url('img/vacation.png');
	background-repeat: no-repeat;
	background-color: #50b0ff;
}
.review .course2 {
	background-image: url('img/revisao3.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #ff8383;
}
.review .course3 {
	background-image: url('img/revision2.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #94ff99;
}
.review .course4 {
	background-image: url('img/doctor2.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #ff94ca;
}
.review .course5 {
	background-image: url('img/engineer2.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #5ae9d6;
}
.review .course6 {
	background-image: url('img/revisao4.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #ff9650;
}

.review .col-3:hover {
	transform: translateY(-10px);
	filter: brightness(100%);
}

.fa-quote-left {
	font-size: 34px;
	color: #4787ff;
}
.fa-quote-right {
	font-size: 34px;
	color: #4787ff;
}
.review-price {
	font-size: 18px;
	font-weight: 400;
	background: linear-gradient(120deg, #ffd446 20%, #fcff46 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.col-3 p {
	font-size: 16px;
	margin: 50px 0;
	color: rgb(248, 248, 248);
	text-shadow: 2px 2px #00000050;
}

.review .col-3 h1 {
	width: 100%;
	text-align: center;
	font-weight: 700;
	color: rgb(255, 255, 255);
	font-size: 30px;
	line-height: 25px;
	margin-bottom: 10px;
	text-shadow: 2px 2px #00000050;
}
.review .col-3 h3 {
	width: 100%;
	text-align: center;
	font-weight: 700;
	color: rgb(0, 255, 149);
	font-size: 30px;
	line-height: 25px;
	margin-bottom: 10px;
	text-shadow: 2px 2px #00000050;
}
.review .col-3 h2 {
	font-weight: 600;
	color: rgb(255, 255, 255);
	font-size: 20px;
	line-height: 25px;
	margin-bottom: 10px;
	text-shadow: 2px 2px #00000050;
}

.review .rating .fa-solid {
	background: linear-gradient(120deg, #ffd446 20%, #fcff46 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.review .rating .fa-regular {
	background: linear-gradient(120deg, #ffd446 20%, #fcff46 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
/* BRANDS */
.brands {
	margin: 100px auto;
}

.col-5 {
	width: 160px;
}

.col-5 img {
	width: 100%;
	cursor: pointer;
	filter: grayscale(100%);
}

.col-5 img:hover {
	filter: grayscale(0);
}

#nike {
	width: 150px;
}

#nike img {
	width: 100%;
	cursor: pointer;
	filter: grayscale(100%);
}

#nike img:hover {
	filter: grayscale(0);
}

#adidas {
	width: 120px;
}

#adidas img {
	width: 100%;
	cursor: pointer;
	filter: grayscale(100%);
}

#adidas img:hover {
	filter: grayscale(0);
}

/* FOOTER */
.footer {
	background: rgb(50, 50, 50);
	color: #8a8a8a;
	font-size: 14px;
	padding: 80px 0 20px;
}

.footer:before {
	content: ' ';
	display: block;
	width: 100%;
	height: 65px;
	background-image: url('img/tornpaper.png');
	position: absolute;
	margin-top: -100px;
	z-index: 1;
}

.footer p {
	color: #8a8a8a;
}

.footer h3 {
	color: #fff;
	margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
	min-width: 250px;
	margin-bottom: 20px;
}

.footer-col-1 {
	flex-basis: 30%;
}

.footer-col-2 {
	flex: 1;
	text-align: center;
}

.footer-col-2 img {
	width: 180px;
	margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
	flex-basis: 12%;
	text-align: center;
}

ul {
	list-style-type: none;
}

.app-logo {
	margin-top: 20px;
}

.app-logo img {
	width: 140px;
}

.footer hr {
	border: none;
	background: #b5b5b5;
	height: 1px;
	margin: 20px 0;
}

.copyright {
	text-align: center;
}

.menu-icon {
	width: 28px;
	margin-left: 20px;
	display: none;
	filter: invert(100%);
}

/* ALL PRODUCTS */
.row-2 {
	justify-content: space-between;
	margin: 50px auto 50px;
	padding: 0px 15px;
}
.row-2 .filter1 {
	flex-basis: 50%;
}

.ver-mais {
	color: #555;
}
.parcelas {
	/* width: 200px; */
	height: 40px;
	color: #555;
	border: 2px solid #44ffa8;
	padding: 5px;
	font-size: 14px;
	border-radius: 5px;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
}

.filtro-ordenar {
	width: 200px;
	height: 40px;
	color: #555;
	border: 2px solid #26e9ff;
	padding: 5px;
	font-size: 12px;
	border-radius: 5px;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
	transition: 0.5s;
}

.filtro-ordenar:hover {
	filter: brightness(95%);
}

.filtro-ano {
	width: 200px;
	height: 40px;
	color: #555;
	border: 3px solid #ffd446;
	padding: 5px;
	font-size: 12px;
	border-radius: 5px;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
	transition: 0.5s;
}
.filtro-ano:hover {
	filter: brightness(95%);
}

.filtro-ano .option-bold {
	font-family: 'Work Sans', cursive;
	color: #3bb3ff;
	font-size: 14px;
	font-weight: 700;
}

select:focus {
	outline: none;
}

select::-webkit-scrollbar {
	width: 5px;
}
/* Track */
select::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
select::-webkit-scrollbar-thumb {
	background: #ffd446;
}

/* Handle on hover */
select::-webkit-scrollbar-thumb:hover {
	background: #ffd446;
}

.page-btn {
	margin: 0 auto 80px;
	text-align: center;
}

.page-btn span {
	display: inline-block;
	border: 1px solid #26e9ff;
	margin-left: 10px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}

.page-btn span:hover {
	background: linear-gradient(90deg, #4787ff 0%, #26e9ff 90%);
	color: #fff;
}

/* SINGLE PRODUCT DETAILS */
.single-product {
	margin-top: 60px;
}

.single-product .col-2-2 img {
	padding: 0;
}

.single-product .col-2-2 {
	padding: 20px;
}

.single-product h4 {
	margin: 20px 0;
	font-size: 22px;
	font-weight: bold;
}

.single-product select {
	display: block;
	padding: 10px;
	margin-top: 20px;
}

.single-product input {
	width: 50px;
	height: 40px;
	padding-left: 10px;
	font-size: 20px;
	margin-right: 10px;
	border: 3px solid #ffd446;
	border-radius: 5px;
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
}

.single-product .fa-solid {
	font-size: 22px;
	margin-bottom: 20px;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	opacity: 1;
}

input:focus {
	outline: none;
}

.buttons {
	padding: 10px 0 40px;
	text-align: center;
}

.button {
	transition: all 0.2s ease-in-out;
	-webkit-appearance: none;
	border-radius: 100px;
	font-family: inherit;
	appearance: none;
	background: none;
	font-weight: 700;
	font-size: 18px;
	cursor: pointer;
	padding: 20px;
	outline: none;
	border: none;
	color: rgba(0, 0, 0, 0.3);
	font-weight: 500;
	transition: 0.5s;
}

.button:hover,
.button.active {
	transform: translateY(-3px);
	background: linear-gradient(to right, #4787ff 0%, #26e9ff 50%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.single-product .fa {
	color: #4787ff;
	margin-left: 10px;
}

.small-img-row {
	display: flex;
	justify-content: space-between;
}

.small-img-col {
	flex-basis: 24%;
	cursor: pointer;
}

/* CART DETAILS */
.cart-page {
	padding-top: 50px;
	margin: 80px auto;
}
table {
	width: 100%;
	border-collapse: collapse;
}

.cart-info {
	display: flex;
	flex-wrap: wrap;
}
.cart-info p {
	color: #555;
}

th {
	text-align: left;
	padding: 5px;
	color: #fff;
	background: #555;
	font-weight: 600;
}

td {
	padding: 10px 5px;
}

td input {
	width: 40px;
	height: 30px;
	padding: 5px;
}

td a {
	color: red;
	font-size: 12px;
}

td img {
	width: 100px;
	height: 100px;
	margin-right: 10px;
}

.total-price {
	display: flex;
	justify-content: flex-end;
}

.total-price-btn {
	display: flex;
	align-items: center;
	justify-content: center;
}

.total-price table {
	border-top: 3px solid #4787ff;
	width: 100%;
	max-width: 370px;
}
#total {
	font-size: 26px;
	font-weight: 600;
	color: rgb(0, 255, 149);
	text-shadow: 1px 1px #00000050;
}

td:last-child {
	text-align: right;
}

th:nth-child(2) {
	width: 21%;
}

th:last-child {
	text-align: right;
}

/* ACCOUNT PAGE */
.account-page {
	padding: 100px 0;
}

.form-container {
	background-image: linear-gradient(
		to left bottom,
		#ffd200,
		#ffb249,
		#ff997e,
		#ff8fad,
		#ff94d1,
		#e0a7f0,
		#bdb9ff,
		#a1c7ff,
		#62d9ff,
		#00e9ff,
		#00f7eb,
		#36ffb9
	);
	width: 300px;
	height: 400px;
	position: relative;
	text-align: center;
	padding: 20px 0;
	margin: auto;
	border-radius: 5px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.form-container span {
	font-weight: bold;
	padding: 0 10px;
	color: #fff;
	cursor: pointer;
	width: 100px;
	display: inline-block;
	text-shadow: 1px 1px #00000025;
}

.form-btn {
	display: inline-block;
}

.form-container form {
	max-width: 300px;
	padding: 0 20px;
	position: absolute;
	top: 80px;
	transition: transform 1s;
}

form input {
	width: 100%;
	height: 30px;
	margin: 10px 0;
	padding: 0 10px;
	border: 1px solid #ccc;
}

form .btn {
	width: 100%;
	border: none;
	cursor: pointer;
	margin: 10px 0;
}

form .btn:focus {
	outline: none;
}

#login-form {
	left: -300px;
}

#register-form {
	left: 0;
}

form a {
	font-size: 12px;
}

#indicator {
	width: 100px;
	border: none;
	background: linear-gradient(90deg, #4787ff 0%, #26e9ff 90%);
	height: 3px;
	margin-top: 8px;
	transform: translateX(100px);
	transition: transform 1s;
}

.col-3 .course-price {
	font-size: 24px;
	font-weight: 700;
	color: #ffffff;
	text-shadow: 2px 2px #00000025;
}

.price-1 {
	color: rgb(0, 255, 149);
	font-size: 16px;
	margin-top: 5px;
}

.price-2 {
	color: rgb(134, 134, 134);
	font-size: 12px;
	line-height: 10px;
}
.search-box {
	z-index: 1000;
	bottom: 5%;
	left: 2%;
	position: fixed;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
	transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-box:hover {
	transform: translateX(5px);
}

.search-box.active {
	width: 300px;
}
.search-box input {
	width: 100%;
	height: 100%;
	border: none;
	border-radius: 50px;
	background: linear-gradient(45deg, #4787ff 0%, #26e9ff 90%);
	outline: none;
	padding: 0 60px 0 20px;
	font-size: 17px;
	color: #fff;
	opacity: 0;
	transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-box input.active {
	opacity: 1;
}
.search-box input::placeholder {
	color: #fff;
}
.search-box .search-icon {
	position: absolute;
	right: 0px;
	top: 50%;
	transform: translateY(-50%);
	height: 60px;
	width: 60px;
	background: linear-gradient(45deg, #4787ff 0%, #26e9ff 90%);
	border-radius: 50%;
	text-align: center;
	line-height: 60px;
	font-size: 22px;
	color: #fff;
	cursor: pointer;
	z-index: 1;
	transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-box .search-icon.active {
	right: 5px;
	height: 50px;
	line-height: 50px;
	width: 50px;
	font-size: 20px;
	background: #fff;
	color: #555;
	transform: translateY(-50%) rotate(360deg);
}
.search-box .cancel-icon {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 25px;
	color: rgb(255, 65, 122);
	cursor: pointer;
	transition: all 0.5s 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.search-box .cancel-icon.active {
	right: -40px;
	transform: translateY(-50%) rotate(360deg);
}
.search-box .search-data {
	text-align: center;
	padding-top: 7px;
	color: #000;
	font-size: 17px;
	word-wrap: break-word;
}
.search-box .search-data.active {
	display: none;
}



/* MEDIA QUERY FOR MENU */
@media only screen and (max-width: 800px) {
	.title-top {
	font-size: 26px;
}
.col-2 p {
	font-size: 18px;
}
	#A {
		font-size: 36px;
	}
	#Z {
		font-size: 36px;
	}
	.filtro-ano {
		width: 80vw;
	}
	.filtro-ordenar {
		width: 80vw;
	}
	.row-2 {
		justify-content: center;
		gap: 15px;
	}
	.similar {
		justify-content: space-between;
	}
	.single-product .col-2-2 {
		margin-top: 0px;
	}
	.row-categories {
		flex-wrap: nowrap;
	}
	#csi-d {
		display: none;
	}
	#csi-f {
		display: none;
	}

	.search-box {
		bottom: 5%;
		left: 5%;
	}
	.search-box.active {
		width: 250px;
	}
	.search-box .cancel-icon {
		position: absolute;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);
		font-size: 50px;
	}
	.navbar {
		padding: 10px 20px;
	}
	.nav-active {
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	}
	.buttons {
		padding: 5px 0 5px;
		text-align: center;
	}

	.button {
		font-size: 16px;
		padding: 15px 10px;
	}
	nav ul {
		z-index: 2;
		position: absolute;
		top: 55px;
		left: 0;
		background-color: #3bb3ff;
		width: 100%;
		overflow: hidden;
		transition: max-height 0.5s;
	}
	nav ul li {
		display: block;
		margin-right: 50px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	nav ul li a {
		color: #fff;
	}
	.menu-icon {
		display: block;
		cursor: pointer;
	}

	.col-2 {
		top: 70px;
	}

	.col-2 img {
		padding: 40px 0 0px 0;
		padding-bottom: 20px;
		top: 50px;
	}

	.title-1 {
		font-size: 30px;
	}
	.title-2 {
		font-size: 50px;
	}

	.col-2 p {
		margin-top: 0px;
	}
	.search-field {
		flex-direction: column;
	}

	.header {
		padding-bottom: 30px;
	}
	.header:after {
		bottom: -40px;
	}
	.search-field btn {
		margin: 0px 0px;
		padding: 0px 0px;
	}

	.offer-img {
		margin-left: 30px;
	}
	/* BRANDS */
	.brands .small-container .row {
		display: flex;
		flex-direction: column;
		gap: 50px;
	}

	.col-5 {
		width: 200px;
	}
	.offer p {
	color: #fff;
	font-size: 26px;
	margin-top: 0;
	/* line-height: 50px; */
	font-weight: 700;
		/* font-family: 'Cabin Sketch', cursive; */
	/* font-family: 'Londrina Sketch', cursive; */
}

.offer small {
	color: #fff;
	font-family: 'Work Sans';
	font-size: 18px;
	margin-top: 0;
	/* line-height: 40px; */
	font-weight: 600;
}


.offer .small-first {
	color: rgb(0, 255, 234);
	font-family: 'Cabin Sketch', cursive;
	font-size: 32px;
	line-height: 20px;
}
.offer .small-second {
	color: rgb(255, 251, 0);
	font-family: 'Cabin Sketch', cursive;
	font-size: 32px;
	line-height: 30px;
}

#small-top {
	line-height: 50px;
}
}

/* MEDIA QUERY FOR LESS THAN 600 PX */

@media only screen and (max-width: 600px) {
	.row {
		text-align: center;
	}
	.col-2,
	.col-3,
	.col-4 {
		flex-basis: 100%;
	}
	.single-product .row {
		text-align: left;
	}
	.single-product .col-2 {
		padding: 20px 0;
	}
	.single-product h1 {
		font-size: 26px;
		line-height: 32px;
	}
	.cart-info p {
		width: 120px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 12px;
	}
}
