* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Poppins', sans-serif;
}

.navbar {
	z-index: 2;
	display: flex;
	align-items: center;
	padding: 20px 50px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	transition: 0.5s;
}

header .navbar {
	transition: 0.3s ease-in-out;
}

.nav-active {
	background-color: #fff;
	box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
		rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

nav {
	flex: 1;
	text-align: right;
}

nav ul {
	display: inline-block;
	list-style-type: none;
}

nav ul li {
	display: inline-block;
	margin-right: 20px;
}

a {
	text-decoration: none;
	color: #555;
}

p {
	color: #555;
}

.search-field {
	display: flex;
	align-items: center;
}

.search-box {
	z-index: 1000;
	bottom: 5%;
	left: 2%;
	width: fit-content;
	height: fit-content;
	position: fixed;
	transition: 0.5s;
	border-radius: 50%;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.search-box:hover {
	filter: brightness(90%);
	transform: translateX(5px);
}

.input-search {
	height: 50px;
	width: 50px;
	border-style: none;
	padding: 10px;
	font-size: 17px;
	/* letter-spacing: 0.5px; */
	outline: none;
	border-radius: 25px;
	transition: all 0.5s ease-in-out;
	background: linear-gradient(45deg, #4787ff 0%, #26e9ff 90%);
	padding-right: 40px;
	/* padding-left: 20px; */
	color: #fff;
}

.input-search::placeholder {
	color: #fff;
	font-size: 17px;
	/* letter-spacing: 0.5px; */
	/* padding-left: 20px; */
	/* font-weight: 200; */
}
.btn-search {
	width: 50px;
	height: 50px;
	border-style: none;
	font-size: 20px;
	font-weight: bold;
	outline: none;
	cursor: pointer;
	border-radius: 50%;
	position: absolute;
	right: 0px;
	color: #ffffff;
	background-color: transparent;
	pointer-events: painted;
}
.btn-search:focus ~ .input-search {
	width: 250px;
	border-radius: 30px;
	background-color: transparent;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}
.input-search:focus {
	width: 250px;
	border-radius: 30px;
	background-color: transparent;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
}

.sticky {
	background-color: #000;
}

.container {
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

.col-2 {
	/* new */
	position: relative;
	top: 50px;
	/* new */
	flex-basis: 50%;
	min-width: 300px;
}

.col-2 img {
	max-width: 100%;
	/* padding: 20px 0; */
	margin-bottom: -5px;
	padding: 0px 0 0px 0;
	/* transform: rotateY(180deg); */
}

.col-2 h1 {
	font-size: 50px;
	line-height: 60px;
	margin-top: -10px;
	/* margin: 25px 0; */
}

.title-1 {
	color: #555;
}

.title-2 {
	background: linear-gradient(to right, #4787ff 0%, #26e9ff 50%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.col-2 p {
	margin: 25px 0px 0px 0px;
}

/* COL-2-2 */

.col-2-2 {
	flex-basis: 45%;
	min-width: 300px;
}

.col-2-2 img {
	max-width: 100%;
	padding: 20px 0;
	/* transform: rotateY(180deg); */
}

#keepedu {
	margin-left: -10px;
}

.col-2-2 h1 {
	font-size: 50px;
	line-height: 50px;
	margin: 25px 0;
}



.btn {
	display: inline-block;
	background: linear-gradient(45deg, #4787ff 0%, #26e9ff 90%);
	color: #fff;
	padding: 14px 30px;
	margin: 30px 0;
	border-radius: 30px;
	transition: 0.5s;
}

.btn:hover {
	filter: brightness(90%);
	transform: translateX(5px);
}

.nav-icon {
	transition: transform 0.5s;
}
.nav-icon:hover {
	transform: translateY(-3px);
	background: linear-gradient(to right, #4787ff 0%, #26e9ff 50%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.nav-icon img:hover {
	filter: invert(48%) sepia(83%) saturate(3207%) hue-rotate(180deg)
		brightness(95%) contrast(300%);
}

.header {
	background: radial-gradient(#fff, #dbdbdb);
}

/* .header .row {
	margin-top: 70px;
} */

.categories {
	margin: 70px 0;
}

.col-3 {
	flex-basis: 30%;
	min-width: 250px;
	margin-bottom: 30px;
	transition: 0.5s;
}

.col-3:hover {
	transform: translateY(-5px);
	filter: brightness(110%);
}

/* .col-3 img {
	transition: transform 0.5s;
}

.col-3 img:hover {
	transform: translateY(-5px);
} */
/* 
.col-3 img {
	width: 100%;
	filter: brightness(80%)
}

.col-3-a {
	position: relative;
}

.col-3-a h2 {
	 font-size: 32px;
	 color: #fff;
   position: absolute;
	 text-align: center;
   top: -170px;
   width: 100%;
   margin: 0 auto;
} */

#category-1 {
	background-image: linear-gradient(to right, #37a4c9, transparent 80%),
		url('img/category33.jpg');
	width: 100%;
	height: 400px;
	background-size: cover;
	/* color: white; */
	/* padding: 20px; */
	/* text-align: center; */
	/* line-height: 400px; */
	/* font-size: 50px; */
	/* font-weight: 900; */
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#category-1 h3 {
	text-align: left;
	padding: 20px 10px 30px 20px;
	/* margin-left: 20px; */
	font-size: 100px;
	/* color: #fff; */
	line-height: 80px;
	font-weight: 700;
}

#category-1 h3 .category-top {
	color: rgb(220, 183, 255);
}
#category-1 h3 .category-bottom {
	color: rgb(206, 255, 247);
}

#category-1 p{
	text-align: left;
	font-size: 20px;
	margin: 10px 20px;
	font-weight: 500;
	color: #fff;
}

#category-1 p .p-bottom{
	font-size: 30px;
	line-height: 30px;
	font-weight: 600;
}

#category-1 p .p-top{
	line-height: 40px;
	color: rgb(240, 240, 240);
}

#category-1 h3 .category-top{
	letter-spacing: 15px;
	font-size: 100px;
}

#category-2 {
	background-image: linear-gradient(to right, #5ae9d6, transparent 60%),
		url('img/category11.jpg');
	width: 100%;
	height: 400px;
	background-size: cover;
	/* color: white;
	/* padding: 20px; */
	/* text-align: center;
	line-height: 400px;
	font-size: 50px;
	font-weight: 900; */
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#category-2 h3 {
	text-align: left;
	padding: 20px 10px 20px 20px;
	/* margin-left: 20px; */
	font-size: 90px;
	/* color: #fff; */
	line-height: 80px;
	font-weight: 700;
}

#category-2 h3 .category-top {
	color: rgb(255, 163, 163);
}
#category-2 h3 .category-bottom {
	color: rgb(255, 237, 203);
}

#category-2 p{
	text-align: left;
	font-size: 20px;
	margin: 10px 20px 0;
	font-weight: 500;
	color: #fff;
}

#category-2 h3 .category-bottom{
	letter-spacing: 15px;
}

#category-2 h3 .category-top{
	font-size: 85px;
}

#category-2 p .p-bottom{
	font-size: 30px;
	line-height: 30px;
	font-weight: 600;
}

#category-2 p .p-top{
	line-height: 50px;
	color: rgb(240, 240, 240);
}

#category-3 {
	background-image: linear-gradient(to right, #f053a1, transparent 70%),
		url('img/category1.jpg');
	width: 100%;
	height: 400px;
	background-size: cover;
	/* color: white; */
	/* padding: 20px; */
	/* text-align: center;
	line-height: 400px;
	font-size: 50px;
	font-weight: 900; */
	border-radius: 5px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#category-3 h3 {
	text-align: left;
	padding: 20px 10px 20px 20px;
	/* margin-left: 20px; */
	font-size: 100px;
	/* color: #fff; */
	line-height: 80px;
	font-weight: 700;
}

#category-3 h3 .category-top {
	color: rgb(183, 238, 255);
}
#category-3 h3 .category-bottom {
	color: rgb(210, 255, 214);
}

#category-3 p{
	text-align: left;
	font-size: 20px;
	margin: 10px 20px 0;
	font-weight: 500;
	color: #fff;
}

#category-3 h3 .category-top, .category-bottom{
	letter-spacing: 5px;
}

#category-3 h3 .category-top{
	font-size: 90px;
}

#category-3 p .p-bottom{
	font-size: 30px;
	line-height: 30px;
	font-weight: 600;
}

#category-3 p .p-top{
	line-height: 50px;
	color: rgb(240, 240, 240);
}

.col-3-a span {
	/* text-shadow: 1px 1px rgba(0, 0, 0, .3); */
	text-shadow:  0px 3px 8px rgba(0, 0, 0, 0.24)
}

.small-container {
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.col-4 {
	flex-basis: 25%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
	transition: transform 0.5s;
}

.col-4 img {
	width: 100%;
	border-radius: 5px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.title {
	text-align: center;
	margin: 0 auto 80px;
	position: relative;
	line-height: 60px;
	color: #555;
}

.title::after {
	content: '';
	background: linear-gradient(120deg, #4787ff 20%, #26e9ff 70%);
	width: 80px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
}

h4 {
	color: #555;
	font-weight: normal;
}

.col-4 p {
	font-size: 14px;
}

.rating .fa-solid {
	background: linear-gradient(120deg, #4787ff 20%, #26e9ff 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.rating .fa-regular {
	background: linear-gradient(120deg, #4787ff 20%, #26e9ff 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.col-4:hover {
	transform: translateY(-5px);
}

/* OFFER */
.offer {
	background: radial-gradient(#fff, #dbdbdb);
	margin-top: 80px;
	padding: 30px 0;
}

.col-2 .offer-img {
	padding: 50px;
	transform: rotateY(360deg);
}

small {
	color: #555;
}

/* REVIEWS */
.review {
	padding-top: 100px;
}

.review .col-3 {
	text-align: center;
	padding: 40px 20px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
	cursor: pointer;
	transition: 0.5s;
}

.review .col-3 img {
	width: 150px;
	margin-top: 20px;
	margin-bottom: 10px;
	border-radius: 50%;
}

.review .col-3:hover {
	transform: translateY(-10px);
	filter: brightness(100%);
}

.fa-quote-left {
	font-size: 34px;
	color: #4787ff;
}
.fa-quote-right {
	font-size: 34px;
	color: #4787ff;
}
.review-price {
	font-size: 18px;
	font-weight: 400;
	background: linear-gradient(120deg, #4787ff 20%, #26e9ff 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.col-3 p {
	font-size: 12px;
	margin: 12px 0;
	color: #777;
}

.review .col-3 h3 {
	font-weight: 600;
	color: #555;
	font-size: 16px;
}

/* BRANDS */
.brands {
	margin: 100px auto;
}

.col-5 {
	width: 160px;
}

.col-5 img {
	width: 100%;
	cursor: pointer;
	filter: grayscale(100%);
}

.col-5 img:hover {
	filter: grayscale(0);
}

#nike {
	width: 150px;
}

#nike img {
	width: 100%;
	cursor: pointer;
	filter: grayscale(100%);
}

#nike img:hover {
	filter: grayscale(0);
}

#adidas {
	width: 120px;
}

#adidas img {
	width: 100%;
	cursor: pointer;
	filter: grayscale(100%);
}

#adidas img:hover {
	filter: grayscale(0);
}

/* FOOTER */
.footer {
	background: #000;
	color: #8a8a8a;
	font-size: 14px;
	padding: 60px 0 20px;
}

.footer p {
	color: #8a8a8a;
}

.footer h3 {
	color: #fff;
	margin-bottom: 20px;
}

.footer-col-1,
.footer-col-2,
.footer-col-3,
.footer-col-4 {
	min-width: 250px;
	margin-bottom: 20px;
}

.footer-col-1 {
	flex-basis: 30%;
}

.footer-col-2 {
	flex: 1;
	text-align: center;
}

.footer-col-2 img {
	width: 180px;
	margin-bottom: 20px;
}

.footer-col-3,
.footer-col-4 {
	flex-basis: 12%;
	text-align: center;
}

ul {
	list-style-type: none;
}

.app-logo {
	margin-top: 20px;
}

.app-logo img {
	width: 140px;
}

.footer hr {
	border: none;
	background: #b5b5b5;
	height: 1px;
	margin: 20px 0;
}

.copyright {
	text-align: center;
}

.menu-icon {
	width: 28px;
	margin-left: 20px;
	display: none;
}

/* ALL PRODUCTS */
.row-2 {
	justify-content: space-between;
	margin: 130px auto 50px;
}

select {
	border: 1px solid #26e9ff;
	padding: 5px;
}

select:focus {
	outline: none;
}

.page-btn {
	margin: 0 auto 80px;
	text-align: center;
}

.page-btn span {
	display: inline-block;
	border: 1px solid #26e9ff;
	margin-left: 10px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}

.page-btn span:hover {
	background: linear-gradient(90deg, #4787ff 0%, #26e9ff 90%);
	color: #fff;
}

/* SINGLE PRODUCT DETAILS */
.single-product {
	margin-top: 130px;
}

.single-product .col-2-2 img {
	padding: 0;
}

.single-product .col-2-2 {
	padding: 20px;
}

.single-product h4 {
	margin: 20px 0;
	font-size: 22px;
	font-weight: bold;
}

.single-product select {
	display: block;
	padding: 10px;
	margin-top: 20px;
}

.single-product input {
	width: 50px;
	height: 40px;
	padding-left: 10px;
	font-size: 20px;
	margin-right: 10px;
	border: 1px solid #26e9ff;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
	opacity: 1;
}

input:focus {
	outline: none;
}

.buttons {
	padding: 10px 0 40px;
	text-align: center;
}

.button {
	transition: all 0.2s ease-in-out;
	-webkit-appearance: none;
	border-radius: 100px;
	font-family: inherit;
	appearance: none;
	background: none;
	font-weight: 700;
	font-size: 18px;
	cursor: pointer;
	padding: 20px;
	outline: none;
	border: none;
	color: rgba(0, 0, 0, 0.3);
	font-weight: 500;
	transition: 0.5s;
}

.button:hover,
.button.active {
	transform: translateY(-3px);
	background: linear-gradient(to right, #4787ff 0%, #26e9ff 50%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.active {
	position: relative;
}

.active::after {
	content: '';
	background: linear-gradient(110deg, #4787ff 0%, #26e9ff 90%);
	width: 25px;
	height: 2px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	bottom: 10px;
	border-radius: 2px;
}

.single-product .fa {
	color: #4787ff;
	margin-left: 10px;
}

.small-img-row {
	display: flex;
	justify-content: space-between;
}

.small-img-col {
	flex-basis: 24%;
	cursor: pointer;
}

/* CART DETAILS */
.cart-page {
	margin: 80px auto;
}
table {
	width: 100%;
	border-collapse: collapse;
}

.cart-info {
	display: flex;
	flex-wrap: wrap;
}

th {
	text-align: left;
	padding: 5px;
	color: #fff;
	background: #555;
	font-weight: normal;
}

td {
	padding: 10px 5px;
}

td input {
	width: 40px;
	height: 30px;
	padding: 5px;
}

td a {
	color: red;
	font-size: 12px;
}

td img {
	width: 80px;
	height: 80px;
	margin-right: 10px;
}

.total-price {
	display: flex;
	justify-content: flex-end;
}

.total-price table {
	border-top: 3px solid #4787ff;
	width: 100%;
	max-width: 370px;
}

td:last-child {
	text-align: right;
}

th:last-child {
	text-align: right;
}

/* ACCOUNT PAGE */
.account-page {
	padding: 50px 0;
	background: radial-gradient(#fff, #dbdbdb);
}

.form-container {
	background: #fff;
	width: 300px;
	height: 400px;
	position: relative;
	text-align: center;
	padding: 20px 0;
	margin: auto;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
	overflow: hidden;
}

.form-container span {
	font-weight: bold;
	padding: 0 10px;
	color: #555;
	cursor: pointer;
	width: 100px;
	display: inline-block;
}

.form-btn {
	display: inline-block;
}

.form-container form {
	max-width: 300px;
	padding: 0 20px;
	position: absolute;
	top: 80px;
	transition: transform 1s;
}

form input {
	width: 100%;
	height: 30px;
	margin: 10px 0;
	padding: 0 10px;
	border: 1px solid #ccc;
}

form .btn {
	width: 100%;
	border: none;
	cursor: pointer;
	margin: 10px 0;
}

form .btn:focus {
	outline: none;
}

#login-form {
	left: -300px;
}

#register-form {
	left: 0;
}

form a {
	font-size: 12px;
}

#indicator {
	width: 100px;
	border: none;
	background: linear-gradient(90deg, #4787ff 0%, #26e9ff 90%);
	height: 3px;
	margin-top: 8px;
	transform: translateX(100px);
	transition: transform 1s;
}

.col-3 .course-price {
	font-size: 18px;
	font-weight: 500;
	background: linear-gradient(120deg, #4787ff 20%, #26e9ff 70%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

/* col-2-2 */
.price-1 {
	color: #555;
	font-size: 16px;
	margin-top: 5px;
}

.price-2{
	color: rgb(134, 134, 134);
	font-size: 12px;
	line-height: 10px;
}

/* MEDIA QUERY FOR MENU */
@media only screen and (max-width: 800px) {
	.search-box {
	bottom: 7%;
	left: 5%;
	}
	.navbar {
		padding: 10px 20px;
	}
	.nav-active {
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	}
	.buttons {
		padding: 5px 0 5px;
		text-align: center;
	}

	.button {
		font-size: 16px;
		padding: 15px 10px;
	}
	nav ul {
		z-index: 2;
		position: absolute;
		top: 55px;
		left: 0;
		background: #333;
		width: 100%;
		overflow: hidden;
		transition: max-height 0.5s;
	}
	nav ul li {
		display: block;
		margin-right: 50px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	nav ul li a {
		color: #fff;
	}
	.menu-icon {
		display: block;
		cursor: pointer;
	}
	.header {
		/* overflow: hidden; */
	}
	.col-2 {
		top: 70px;
	}

	.col-2 img {
		padding: 0px 0 0px 0;
		padding-bottom: 20px;
		top: -50px;
		/* transform: rotateY(180deg); */
	}
	.search-field {
		flex-direction: column;
	}

	.search-field btn {
		margin: 0px 0px;
		padding: 0px 0px;
	}
	/* .search-field .btn {
		display: none;
	} */
/* 
	.search-box {
		margin-top: 20px;
		margin-left: 0px;
	}

	.search-box:hover {
		filter: brightness(100%);
	}

	.btn-search ~ .input-search {
		width: 250px;
		border-radius: 30px;
		background-color: transparent;
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
		transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
		/* text-decoration: none;
	}
	.input-search {
		width: 250px;
		border-radius: 30px;
		background-color: transparent;
		border-bottom: 1px solid rgba(255, 255, 255, 0.5);
		transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
	} */
	/* BRANDS */
	.brands .small-container .row {
		display: flex;
		flex-direction: column;
		gap: 50px;
	}

	.col-5 {
		width: 200px;
	}
}

/* MEDIA QUERY FOR LESS THAN 600 PX */

@media only screen and (max-width: 600px) {
	.row {
		text-align: center;
	}
	.col-2,
	.col-3,
	.col-4 {
		flex-basis: 100%;
	}
	.single-product .row {
		text-align: left;
	}
	.single-product .col-2 {
		padding: 20px 0;
	}
	.single-product h1 {
		font-size: 26px;
		line-height: 32px;
	}
	.cart-info p {
		display: none;
	}
}
